body {
  padding: 0px;
  margin: 0px;
}

.section {
  height: 1000px;
  background: linear-gradient(100deg, rgb(255, 255, 255) 50%, #fbc130 0%);
}

.logo {
  display: flex;
}

.logo img {
  height: 80px;
  margin-top: 40px;
}

.logo h1 {
  font-family: "Oleo Script Swash Caps";
  font-size: 40px;
  margin-top: 60px;
}

.custom h1 {
  font-size: 50px;
  font-family: "Roboto";
  margin-top: 200px;
  margin-left: 40px;
}

.custom p {
  font-size: 25px;
  margin-left: 40px;
  color: #414141;
  font-family: "Roboto";
}

.btn {
  margin-left: 100px;
  border-radius: 50px 50px 0px 50px;
  border: none;
  margin-top: 150px;
  height: 80px;
  width: 200px;
  background-color: rgba(255, 115, 0, 0.685);
  color: white;
  font-size: 17px;
}

.burger {
  height: 400px;
}

.nav {
  display: inline;
  float: right;
  margin-right: 405px;
  font-size: 20px;
  font: bold;
  justify-content: space-between;
  list-style: none;
}

#img {
  width: 500px;
  height: 700px;
  float: right;
  margin-right: 220px;
}

/* buttot {
  border-radius: 25px;
  background-color: #f6b400;
  text-decoration-color: white;
} */

.services {
  display: flex;
  text-align: center;
  height: 400px;
}

.services1 {
  box-shadow: 0 1px 1px 1px brown;
  border-radius: 5px;
  padding: 90px 0;
  margin: 50px 30px;
  height: 90;
}
.services2 {
  box-shadow: 0 1px 1px 1px brown;
  border-radius: 5px;
  height: 160px;
  margin: 50px 30px;
  padding: 90px 0;
}
.menu {
  height: 1000px;
}
.cart {
  box-shadow: 0 3px 2px 4px brown;
  border-radius: 25px;
  height: 250px;
  margin: 50px 30px;
  padding: 90px 0;
  text-align: center;
}
.cartfood {
  display: flex;
}
.decker {
  height: 500px;
  color: rgb(247, 253, 246);
}
.double b {
  display: flex;
  height: 1000;
}
.mobile {
  height: 500px;
  background-color: #f6b400;
}
.showcase {
  display: flex;
}
.reco {
  display: inline;
  text-align: center;
}
