body {
  padding: 0px;
  margin: 0px;
}

.section1 {
  height: 1000px;
  background: linear-gradient(100deg, rgb(255, 255, 255) 50%, #fbc130 0%);
}

.logo {
  display: flex;
}

.logo img {
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
}

.logo h1 {
  font-family: "Oleo Script Swash Caps";
  font-size: 40px;
  margin-top: 60px;
}

.custom h1 {
  font-size: 50px;
  font-family: "Roboto";
  margin-top: 200px;
  margin-left: 70px;
}

.custom p {
  font-size: 25px;
  margin-left: 70px;
  color: #414141;
  font-family: "Roboto";
}

.btn {
  margin-left: 100px;
  border-radius: 50px 50px 0px 50px;
  border: none;
  margin-top: 150px;
  height: 80px;
  width: 200px;
  background-color: rgba(255, 115, 0, 0.685);
  color: white;
  font-size: 17px;
}

.nav {
  display: inline;
  float: right;
  margin-right: 305px;
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
  justify-content: space-between;
  list-style: none;
}

.nav ul a {
  margin-left: 80px;
}

.nav ul::after {
  content: "";
  display: block;
  height: 10px;
  width: 50px;
  background-color: #ee7600;
  margin-left: 82px;
  margin-top: 10px;
}

#img {
  width: 500px;
  height: 700px;
  float: right;
  margin-right: 270px;
}

.nav img {
  height: 40px;
  float: right;
  margin-top: -80px;
  margin-right: -150px;
}

.dot {
  height: 25px;
  width: 23px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-left: 120px;
  border: 3px;
  display: flex;
  padding: 4px;
  padding-left: 10px;
  position: relative;
  margin-top: 15px;
  font-size: medium;
  text-align: center;
  color: white;
  position: relative;
  left: 680px;
  top: -100px;
}

.section2 {
  height: 1000px;
  background-color: #f0f8ff;
}

.services {
  display: flex;
  text-align: center;
  height: 400px;
}

.services1 {
  box-shadow: 0px 0px 1px 1px brown;
  border-radius: 20px 20px 20px 20px;
  padding: 90px 0;
  margin: 50px 30px;
  height: 300px;
  width: 700px;
  margin-top: 350px;
}

.services1 h1 {
  font-size: 40px;
  color: rgb(97, 8, 8);
}

.services1 p {
  font-size: 30px;
  text-align: center;
}

.services2 {
  box-shadow: 0px 0px 1px 1px brown;
  border-radius: 20px 20px 20px 20px;
  height: 400px;
  width: 700px;
  margin: 50px 30px;
  padding: 90px 0;
  margin-top: 300px;
}

.services2 h1 {
  font-size: 40px;
  color: rgb(97, 8, 8);
}

.services2 p {
  font-size: 30px;
  text-align: center;
}

.menu {
  height: 1000px;
}

#men h1::after {
  content: "";
  display: block;
  height: 20px;
  width: 115px;
  background-color: #ee7600;
  margin-left: 700px;
  margin-top: 10px;
}

.cart {
  box-shadow: 0 3px 2px 4px #d4d4d4;
  border-radius: 70px;
  height: 650px;
  width: 700px;
  margin-left: 50px;
  text-align: center;
  margin-top: 50px;
}

.cartfood {
  display: flex;
  margin-right: 50px;
}

.Lorem {
  font-size: 20px;
  color: gray;
}

.cart h1 {
  margin-top: 50px;
  font-size: 45px;
  color: maroon;
}

.cart p1 {
  font-size: 20px;
}

.pesa {
  font-size: 30px;
  font-weight: 600;
  margin-right: 170px;
  margin-top: 30px;
  font-family: "Roboto";
}

#shop {
  margin-left: 200px;
  margin-bottom: 100px;
}

.section3 {
  height: 1100px;
  background-color: #f0f8ff;
  margin-top: 250px;
}

#tano {
  width: 800px;
  height: 800px;
  float: right;
  margin-top: -200px;
  margin-right: 50px;
}

/* .decker{
  margin-top: 300px;
} */

#mbili {
  font-weight: bold;
  font-size: 70px;
  font-family: Roboto;
  color: black;
  /* margin-top: 20px; */
}

#tatu {
  color: orange;
  font-size: 70px;
  font-family: Roboto;
  margin-top: -20px;
}

#nne {
  font-size: 25px;
  color: #000;
  /* margin-bottom: -450px; */
}

.double b {
  display: flex;
  height: 1000;
}

#mbili {
  margin-top: 200px;
}

.mobile {
  height: 500px;
  background-color: #f6b400;
}

.showcase {
  display: flex;
}

.reco {
  display: inline;
  text-align: center;
}
